@import "./css/sections/hero.scss";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700;800&display=swap';
@import "layout";
@import "./css/sections/header.scss";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "./css/sections/features.scss";
@import './css/sections/feature.scss';
@import './css/sections/section.scss';
@import './css/sections/headline.scss';
@import "./css/sections/benefits.scss";
@import "./css/sections/benefit.scss";
@import "./css/sections/reviews.scss";
@import "./css/sections/interactive-avatar.scss";
@import './css/sections/orders.scss';
@import './css/sections/form.scss';
@import './css/sections/radio.scss';
@import './css/sections/fixed-menu.scss';
@import './css/sections/media.scss';

$containerWidth: 940px;
$baseFontSize: 18px;  
$z-fixed-menu: 100;

$red: #E01F3D;
$grey: #666666;
$black: #292929;
$white: #FFFFFF;

.btn{
  outline: none;
  font-size: rem(16px);
  font-weight: 800;
  color: $white;
  border: $red solid rem(2px);
  border-radius: rem(35px);
  text-transform: uppercase;
  background: $red;
  text-decoration: none;
  padding: rem(17px) rem(40px);
  font-family:'Play';
}
.btn:hover{
  background: #CA1B36;
  color: $white;
  border-color: #CA1B36;
  transition: .3s;
}

.btn--margin{
  margin-right: rem(20px);
}

.btn--theme--clear{
  outline: none;
  font-size: rem(16px);
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-family:'Play';
  background: none;
  border:none;
  border-color: none;
}
.btn--theme--clear:hover{
  background: none;
  border:none;
  border-color: none;
}

