.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: "Alegreya Sans";
}

.menu__item{
  margin-right: rem(15px);

  &:last-child{
    margin-right: 0;
  }
}

.phone-number{
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Play";
  font-weight: 400;
}

.phone-number__icon{
  width: rem(18px);
  height: rem(18px);
  margin-right: rem(6px);

}

.menu__link{
  text-decoration: none;
}
